name: Security check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    paths: 
      - '**.tf'
      - '**.yml'
      - 'Infrastructure/**'
      - '.github/workflows/**'

permissions:
  contents: read

jobs: 
  secirity-scan-on-workflows:
    runs-on: ubuntu-latest
    permissions:
      contents: write 
    steps:
    - name: checkout repo
      uses: actions/checkout@v4

    - name: Run Checkov Security Scan on yml files
      uses: bridgecrewio/checkov-action@master
      with:
        directory:  .github/workflows
        output_format: cli
        soft_fail: false
        quiet: true  
        framework: github_actions

  secirity-scan-on-terraform-files:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: checkout repo
      uses: actions/checkout@v4

    - name: Run Checkov Security Scan on yml files
      uses: bridgecrewio/checkov-action@master
      with:
        directory:  ./Infrastructure
        output_format: cli
        soft_fail: false
        quiet: true
        framework: terraform,kubernetes
